.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  &__error {
    color: #ba1a1a;
    margin-bottom: 10px;
  }
  &__form {
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 10px;
    &__item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 10px 0;
      &__input {
        padding: 0.2rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #eee;
      }
      &__button {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        background-color: #000;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        margin-top: 1rem;
      }
      &__google {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        background-color: #db4437;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
      }
      &__link {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.9rem;
        color: #000;
        text-decoration: none;
        a {
          color: #ba1a1a;
          text-decoration: none;
        }
      }
    }
  }
}
